-   const REPO_PATH = "https://github.com/jjanisze/roll20-character-sheets/blob/"
-   const BRANCH_PATH = "neuroshima_inventory_v2/"
// - const BRANCH_PATH = "master/"
-   const IMAGES_PATH = "Neuroshima/Images/"