/* main background */
.neuroshima-main-sheet{
	background-image: url("https://i.imgur.com/JabRfGu.png");
	background-repeat: repeat;
}
/*Configure the tab buttons*/
.charsheet .sheet-stats,
.charsheet .sheet-skills,
.charsheet .sheet-equipment {
    display: none;
}

/* show the selected tab */
.charsheet .sheet-tabstoggle[value="stats"] ~ div.sheet-stats,
.charsheet .sheet-tabstoggle[value="skills"] ~ div.sheet-skills,
.charsheet .sheet-tabstoggle[value="equipment"] ~ div.sheet-equipment {
    display: block;
}

/* stats-page styles */
.stats-left {
    float: left;
}
.stats-right {
    float: right;
}